</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p><a href="https://www.linkedin.com/in/lucas-gois-da-silva-8099b11b0/">Made with ❤️ by Lucas Gois da Silva & Victor Antonio Casagrande </a></p>
  </div>
</div>
</body>
<script src="script/index.js"></script>
    <!-------------------- SCRIPT ---------------->
    

    <!-------------------- SCRIPT ---------------->
</html>