<%- include("partials/header"); -%>

<form action="/seller" method="get">
  <input type="submit" value="Buscar" />
</form>
<form action="/productsT" method="get">
  <input type="submit" value="Buscar G" />
</form>

<%- include("partials/footer"); -%>
