<%- include("partials/header"); -%>



<form action="/product" class="createSeller" method="post">
    <label for="">Nome do Galo </label><input type="text" name="name" id=""><br>
    <label for="">ID do seller </label><input type="text" name="sellerId" id=""><br>
    <label for="">Preço </label><input type="text" name="price" id=""><br>
    <label for="">Peso </label><input type="text" name="weight" id=""><br>
    <label for="">Altura</label><input type="text" name="height" id=""><br>
    <label for="">Quantidade de facas do galo</label><input type="text" name="knives" id=""><br>
    <label for="">age</label><input type="text" name="age" id=""><br>
    <input type="submit" value="create">
</form>







<%- include("partials/footer"); -%>